# This is the environment variable template for unit testing.


# Self-hosted service address with topic name.
SELF_HOSTED_API_URL=

# Access token for self-hosted service (if needed).
SELF_HOSTED_ACCESS_TOKEN=

# Self-hosted service basic authentication (if needed). Just choose either basic authentication or access token.
SELF_HOSTED_BASIC_AUTH=

# Self-hosted service sends messages to the e-mail address. You need configure an SMTP server for outgoing messages.
SELF_HOSTED_EMAIL=

# Enable attachments testing for self-hosted service when set to "true". You need allow users to upload and attach files to notifications.
SELF_HOSTED_TEST_ATTACH=

# Enable unifiedPush testing for self-hosted service when set to "true". It requires the topic to have previously active subscribers.
SELF_HOSTED_TEST_UNIFIED_PUSH=


# The topic name on https://ntfy.sh.
NTFY_SH_TOPIC=

# Access token for ntfy.sh (if needed).
NTFY_ACCESS_TOKEN=

# ntfy.sh basic authentication (if needed). Just choose either basic authentication or access token.
NTFY_BASIC_AUTH=

# ntfy.sh sends messages to the e-mail address.
NTFY_EMAIL=

# ntfy.sh sends messages to the phone number. On ntfy.sh, this feature is only supported to ntfy Pro plans.
NTFY_CALL=

# Enable unifiedPush testing for self-hosted service when set to "true". It requires the topic to have previously active subscribers.
NTFY_TEST_UNIFIED_PUSH=
